.general {
    min-width: 350px;
    width: 100%;
    height: 596px;
    background-color: #15263F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
   margin-top: 30px;
}